doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
        h1 Pinterest Data
        include navbar
    block content

    script(src="../public/javascripts/keys.js")
    script(src="http://code.jquery.com/jquery.min.js")
